
.cart{
    background-color: bisque;
    height: 100vh;
}

.cart-data{
    
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 500px;
    /* background-color: aqua; */
    margin: auto;
    margin-top: 1rem;
    border: 1px solid white;
    background-color: azure;
    box-shadow: 0 0 10px 10px white;
    border-radius: 30px;
}

.cart-data-names{
    display: flex;
    gap: 2.9rem;
    margin-left: 5rem;
    font-weight: 700;
}